body{
    background-color: skyblue;
}
h1{
    color: yellowgreen;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
h2{
    color:brown;
    font: 20px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}